# version: '3.8'

# services:
#   analytics-api:
#     build: .
#     command: npm test
#     container_name: analytics-api-container
#     ports:
#       - "8080:8080"
#     environment:
#       PORT: 8080
#       REDIS_URL: redis://redis:6379
#       API_KEY: "your_super_secret_api_key_123"
#       CACHE_TTL_SECONDS: 300
#       RATE_LIMIT_REQUESTS: 5
#       RATE_LIMIT_WINDOW_SECONDS: 30
#     depends_on:
#       redis:
#         condition: service_healthy
#     healthcheck:
#       test: ["CMD", "wget", "--spider", "http://localhost:8080/health"]
#       interval: 30s
#       timeout: 10s
#       retries: 3
#       start_period: 20s

#   redis:
#     image: redis:6-alpine
#     container_name: redis-container
#     ports:
#       - "6379:6379"
#     healthcheck:
#       test: ["CMD", "redis-cli", "ping"]
#       interval: 5s
#       timeout: 5s
#       retries: 5

# version: '3.8'

# services:
#   analytics-api:
#   build: .
#   container_name: analytics-api-container
#   ports:
#     - "8080:8080"
#   environment:
#     PORT: 8080
#     REDIS_URL: redis://redis:6379
#     API_KEY: your_super_secret_api_key_123
#     CACHE_TTL_SECONDS: 300
#     RATE_LIMIT_REQUESTS: 5
#     RATE_LIMIT_WINDOW_SECONDS: 30
#   depends_on:
#     redis:
#       condition: service_healthy
#   healthcheck:
#     test: ["CMD", "wget", "--spider", "http://localhost:8080/health"]
#     interval: 30s
#     timeout: 10s
#     retries: 3
#     start_period: 20s


#   redis:
#     image: redis:6-alpine
#     container_name: redis-container
#     ports:
#       - "6379:6379"
#     healthcheck:
#       test: ["CMD", "redis-cli", "ping"]
#       interval: 5s
#       timeout: 5s
#       retries: 5

version: '3.8'

services:
  analytics-api:
    build: .
    container_name: analytics-api-container
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      REDIS_URL: redis://redis:6379
      API_KEY: your_super_secret_api_key_123
      CACHE_TTL_SECONDS: 300
      RATE_LIMIT_REQUESTS: 5
      RATE_LIMIT_WINDOW_SECONDS: 30
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  redis:
    image: redis:6-alpine
    container_name: redis-container
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
